 .jumbotron {
      background: url("https://images.unsplash.com/photo-1608403886123-4b00653c5043?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=650&q=80");
 no-repeat center center;
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 20%;
    }
.jumbotron{
	margin-bottom: 0px;
	text-decoration-color: white;
}

h1{
   text-decoration-color: white;
}