 .jumbotron {
      background: url("https://images.unsplash.com/photo-1608403886123-4b00653c5043?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=650&q=80");
 no-repeat center center;
      background-size: cover;
      padding-top: 20%;
      padding-bottom: 20%;
    }
.jumbotron{
	margin-bottom: 0px;
	text-decoration-color: white;
}

#look{
  background-image: url("https://images.unsplash.com/photo-1526392587392-d1627b6c134a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  padding-bottom: 5%;

}

.face{
  background-image: url("https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80");
}

.book {
	background-image: url("https://images.unsplash.com/photo-1549700337-d4fcfce79ae7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  height: 400px;
}

.phone {
	background-image: url("https://images.unsplash.com/photo-1475965894430-b05c9d13568a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");

}

.brook {
	background-image: url("https://images.unsplash.com/photo-1598940603846-a1edd0ef2574?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
  padding-top: 5%;
  padding-bottom: 5%;
}
.col-sm-4{
      height: 
}
#unique{
  padding-bottom: 5%;
  padding-top: 4%;
}
.soul{
  padding-left: 10%;
}
#instant{
  padding-top: 5%;
  padding-left: 5%;
}
#come{
  padding-top: 5%;
}
.apple{
  padding-top:4%;
}

#rough{
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom:5%; 
}
#more{
  height:100px;
  padding-top: 2%;
}